[user]
	name = Ben Erridge
	email = ben.erridge@tylertech.com
[alias]
	f = fetch --all
	cher = cherry-pick
	r = remote -v
	s = status
	com = commit
	co = checkout
	br = branch
	out = log --pretty=oneline --abbrev-commit --graph @{u}..
	in = !git fetch && git log --pretty=oneline --abbrev-commit --graph ..@{u}
	ap = apply --ignore-space-change --ignore-whitespace
	branchup = "!f() { git checkout -b \"$1\" && git push -u origin \"$1\"; }; f"
	
[core]
	editor = emacs
	autocrl = true
[merge]
	tool = kdiff3
[diff]
	tool = kdiff3
[init]
	defaultBranch = master
